<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div class="container p5 mt-5 bg-light ">
      <h3 class=" w-25 m-auto bg-light mb-3">Sign up</h3>
      <hr class=" w-30 m-auto mb-3" >
      <form action="/signup" class="w-25 m-auto" method="get" enctype=" ">
        <input class="mb-3" type="text" placeholder="Abhay" name="name">
        <input class="mb-3" type="text" placeholder="@abhay999" name="username">
        <input class="mb-3" type="password" placeholder="*****" name="password"><br>
        <button class="w-25 bg-light m-auto text-center" type="submit">Sign up</button>
      </form>
    </div>
</body>
</html>
